<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/Content/img/logoWhite.jpg">
    <!--CDNs-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="~/Content/css/admin.css" rel="stylesheet" />
    <!-- Site Title -->
    <title>@ViewBag.title - Dashboard | KARNEL TRAVELS</title>
</head>
<body>

    <!-- Vertical navbar -->

    <div class="vertical-nav" id="sidebar" style="background-color: rgb(179, 179, 179);">
        <div class="p-3">
            <a href="~/Default/Index">
                <img src="~/Content/img/logoText.png" alt="Logo" width="80%" class="img-fluid ml-3" />
            </a>
            <hr style="background-color: white;"/>
        </div>

        <ul class="nav flex-column mb-0">
            <li class="nav-item">
                <a href="~/Default/Index" id="myHome" class="nav-link text-light font-italic ml-3">Home</a>
            </li>
            <li class="nav-item">
                <a href="~/Default/About" id="myAbout" class="nav-link text-light font-italic ml-3">About Us</a>
            </li>
            <li class="nav-item">
                <a href="~/userDetails/Index" id="myUser" class="nav-link text-light font-italic ml-3">User</a>
            </li>
            <li class="nav-item">
                <a href="~/customers/Index" id="myCust" class="nav-link text-light font-italic ml-3">Customer</a>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <a data-toggle="dropdown" id="booking" class="nav-link text-light font-italic ml-3">
                        Booking
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="~/bookingTrans/Index" id="myBtran">Transport</a>
                        <a class="dropdown-item" href="~/bookingResoes/Index" id="myBreso">Resort</a>
                        <a class="dropdown-item" href="~/bookingHots/Index" id="myBhot">Hotel</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <a data-toggle="dropdown" id="info" class="nav-link text-light font-italic ml-3">
                        Information
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="~/tranports/Index" id="myTran">Transport</a>
                        <a class="dropdown-item" href="~/restaurants/Index" id="myRest">Restaurant</a>
                        <a class="dropdown-item" href="~/resorts/Index" id="myReso">Resort</a>
                        <a class="dropdown-item" href="~/hotels/Index" id="myHot">Hotel</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a href="~/contacts/Index" id="myCont" class="nav-link text-light font-italic ml-3">Contact-Us form</a>
            </li>
            <li class="nav-item">
                <a href="~/Default/SignOut" class="nav-link text-danger font-italic font-weight-bold ml-3">
                    Sign Out
                </a>
            </li>
        </ul>
    </div>

    <!-- End vertical navbar -->

    <!-- Page content holder -->

    <div class="page-content p-3" id="content">

        <!-- Toggle button -->

        <button data-toggle="collapsed" id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Menu</small></button>
        @RenderBody()

    </div>
</body>
<script>
    $(function () {

        // Sidebar toggle behavior

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
        });
    });

</script>
</html>