
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #myAbout {
        border-bottom: 2px solid white;
        transition: ease-in-out 0.3s;
    }
</style>

<!-- about us -->
<section class="content">
    <div class="container my-5">
        <div class="about">
            <div class="row">
                <div class="col-sm-4">
                    <img src="https://www.roberthalf.com.au/sites/roberthalf.com.au/files/styles/full_width_content_image_1x_small_480/public/2019-09/ceo_office.jpg?itok=Pfa1lvJK"
                         alt="" width="100%">
                </div>
                <div class="col-sm-8">
                    <p class="text-justify">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla
                        recusandae expedita ex commodi a ab, ipsa consectetur vitae. Libero, provident. Nostrum, at.
                        Autem perspiciatis consequuntur voluptas pariatur tenetur quas numquam necessitatibus
                        incidunt. Maxime nisi fuga dolores
                        excepturi soluta inventore beatae pariatur quo magni, quasi recusandae praesentium commodi
                        dolorem eveniet dolorum ullam officiis, animi, perferendis repudiandae error numquam. Saepe
                        harum quam porro eveniet debitis aut ad perferendis, necessitatibus obcaecati, tempore
                        cupiditate. Est fuga vitae rerum aliquam repellendus consectetur sunt, quas provident
                        reiciendis voluptatum perspiciatis labore distinctio laboriosam nostrum hic quo excepturi
                        ipsum? Culpa doloremque architecto sapiente laudantium nulla. Nostrum temporibus, fugit
                        nulla sunt qui totam, quo minima ea iste ratione non modi omnis asperiores aut nemo itaque,
                        doloribus perferendis natus saepe voluptatum! Sequi voluptates perferendis perspiciatis
                        officia delectus praesentium eligendi nobis esse dolore. Quaerat voluptates ex doloremque
                        amet ducimus harum.
                    </p>
                </div>
                <p>
                    distinctio est! Porro adipisci vel provident enim, voluptatibus ea ipsum dolorem totam non
                    laborum earum laboriosam doloremque incidunt quo commodi laudantium quia iste nostrum
                    consectetur, officiis eaque magnam quaerat! Autem unde harum voluptatum alias. Dolor in
                    maiores aliquam natus mollitia. Quasi, est sunt eius provident expedita temporibus ullam
                    reprehenderit cum, nisi facilis repellendus consequuntur voluptatum totam voluptas pariatur?
                    Illo, odit labore soluta a laudantium vero ea ipsum esse iure expedita dolore eligendi
                    blanditiis enim perspiciatis quasi minus id sit sint recusandae? Et, accusamus? Doloremque
                    recusandae dignissimos voluptatem a accusamus eos enim, eligendi fugit omnis vitae
                    consequatur ab nemo, provident dolor porro sapiente corrupti rerum minima doloribus autem
                    quam itaque perspiciatis molestiae. Minus ipsa recusandae laudantium fuga culpa porro maxime
                    veritatis, alias dolorum nisi quae accusamus saepe nesciunt eligendi magnam vitae eum sit
                    molestiae rem reiciendis id expedita, officiis tempore? Eaque temporibus magnam, odio, eius
                    facere ipsam saepe repellendus aliquid inventore, exercitationem ratione! Dolorum recusandae
                    repellendus incidunt aspernatur autem quasi labore eius exercitationem cupiditate repellat
                    consequatur, debitis dicta, iste unde itaque possimus magni officiis consectetur maiores.
                    Delectus aspernatur omnis, voluptatum voluptatem laborum eaque quae possimus minima illo
                    corporis molestiae, eveniet velit. Aut fugit fugiat magnam minima harum pariatur, numquam
                    nostrum facilis quos, amet autem distinctio tempora, blanditiis repellat. Suscipit illum
                    architecto ab totam perferendis tenetur ad, neque nesciunt aspernatur repellendus quia
                    sapiente commodi error dignissimos autem dicta soluta nisi laudantium asperiores at, odio
                    atque voluptatum repellat. At recusandae delectus obcaecati tenetur maiores minus porro,
                    enim iste maxime exercitationem, quasi labore, qui corrupti ad cupiditate suscipit
                    dignissimos deserunt deleniti ipsa! Quidem, aliquam at. Consequuntur inventore nisi ullam
                    veniam. Quas suscipit, a porro earum fuga, facere corrupti magnam possimus ab itaque, nam
                    aperiam. Voluptates ad at dolor necessitatibus id. Officiis doloribus reprehenderit
                    assumenda odit maiores repellendus sit deserunt dicta minima tempore, iure nihil aperiam
                    ratione eius, quaerat aliquam, dignissimos ad!
                </p>
            </div>
        </div>

        <!-- cards -->
        <!-- my team -->
        <div class="team">
            <div class="row">
                <div class="col-sm-3">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="https://codewoxy.com/wp-content/uploads/2020/09/pic_ceo_01.jpg"
                                     alt="Avatar" width="100%">
                            </div>
                            <div class="flip-card-back">
                                <h1>John Doe</h1>
                                <p class="h3">CO-FOUNDER</p>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi odio fugiat
                                    dolorum architecto libero beatae hic at accusantium voluptatum earum porro culpa
                                    asperiores modi nam nulla ducimus repellendus, tenetur maxime.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="https://content.fortune.com/wp-content/uploads/2020/02/Jeff-Weiner-LinkedIn-Ceo.jpg"
                                     alt="Avatar" width="100%">
                            </div>
                            <div class="flip-card-back">
                                <h1>Michael James</h1>
                                <p class="h3">COO</p>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi odio fugiat
                                    dolorum architecto libero beatae hic at accusantium voluptatum earum porro culpa
                                    asperiores modi nam nulla ducimus repellendus, tenetur maxime.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="https://www.3m.com/wps/wcm/connect/ad9324ce-5714-4dd7-b2b5-b992e7455d37/mike-roman-3m-ceo.jpg?MOD=AJPERES&CACHEID=ROOTWORKSPACE-ad9324ce-5714-4dd7-b2b5-b992e7455d37-nvg2rlF"
                                     alt="Avatar" width="100%">
                            </div>
                            <div class="flip-card-back">
                                <h1>Wilson Comes</h1>
                                <p class="h3">CFO</p>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi odio fugiat
                                    dolorum architecto libero beatae hic at accusantium voluptatum earum porro culpa
                                    asperiores modi nam nulla ducimus repellendus, tenetur maxime.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="https://www.fastretailing.com/jp/ir/direction/images/message_2021jan.jpg"
                                     alt="Avatar" width="100%">
                            </div>
                            <div class="flip-card-back">
                                <h1>Yeing Yee</h1>
                                <p class="h3">General Manager</p>
                                <p>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi odio fugiat
                                    dolorum architecto libero beatae hic at accusantium voluptatum earum porro culpa
                                    asperiores modi nam nulla ducimus repellendus, tenetur maxime.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

