
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .default-header {
        background-color: transparent;
    }

    #myHome {
        border-bottom: 2px solid white;
        transition: ease-in-out 0.3s;
    }
</style>

<section class="default-banner active-blog-slider">
    <div class="item-slider relative" style="background-image: url('../../Content/img/slider1.jpg'); background-size: cover;">
        <div class="overlay" style="background: rgba(0,0,0,.3)"></div>
        <div class="container">
            <div class="row fullscreen justify-content-center align-items-center">
                <div class="col-md-10 col-12">
                    <div class="banner-content text-center">
                        <h4 class="text-white mb-20 text-uppercase">Discover the Colorful World</h4>
                        <h1 class="text-uppercase text-white">New Adventure</h1>
                        <p class="text-white">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod temp
                            <br>
                            or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                        </p>
                        <a href="#" class="text-uppercase header-btn">Discover Now</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="item-slider relative" style="background: url('../../Content/img/slider2.jpg'); background-size: cover;">
        <div class="overlay" style="background: rgba(0,0,0,.3)"></div>
        <div class="container">
            <div class="row fullscreen justify-content-center align-items-center">
                <div class="col-md-10 col-12">
                    <div class="banner-content text-center">
                        <h4 class="text-white mb-20 text-uppercase">Discover the Colorful World</h4>
                        <h1 class="text-uppercase text-white">New Trip</h1>
                        <p class="text-white">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod temp
                            <br>
                            or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                        </p>
                        <a href="#" class="text-uppercase header-btn">Discover Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item-slider relative" style="background: url('../../Content/img/slider3.jpg');background-size: cover;">
        <div class="overlay" style="background: rgba(0,0,0,.3)"></div>
        <div class="container">
            <div class="row fullscreen justify-content-center align-items-center">
                <div class="col-md-10 col-12">
                    <div class="banner-content text-center">
                        <h4 class="text-white mb-20 text-uppercase">Discover the Colorful World</h4>
                        <h1 class="text-uppercase text-white">New Experience</h1>
                        <p class="text-white">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod temp
                            <br>
                            or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                        </p>
                        <a href="#" class="text-uppercase header-btn">Discover Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="content">
    <div class="container">
        <!-- quotes -->
        <h1 class="text-center my-5 display-4">
            Life is short and the world is wide!
            <p class="blockquote-footer  text-right">Muhammad Ahmer Iqbal</p>
        </h1>

        <!-- about us -->
        <div class="about">
            <div class="row">
                <div class="col-sm-6">
                    <img src="https://www.roberthalf.com.au/sites/roberthalf.com.au/files/styles/full_width_content_image_1x_small_480/public/2019-09/ceo_office.jpg?itok=Pfa1lvJK" alt="" width="100%">
                </div>
                <div class="col-sm-6">
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium hic quia ad beatae doloremque
                        laborum ipsam dolorem labore. Maxime necessitatibus dignissimos asperiores quasi tempora alias
                        aperiam aut. Repellendus ratione ullam officia quaerat ea! Ex necessitatibus odio repellat quod
                        exercitationem fugiat libero, natus est omnis reprehenderit mollitia repellendus eius ipsum
                        delectus, nemo animi iste, molestiae suscipit. Fugit quos minima quisquam unde eum suscipit
                        voluptate repudiandae, possimus harum adipisci? Molestias quae tenetur mollitia debitis dicta.
                        Voluptatum qui maxime, quod, magnam numquam quasi est maiores, autem vel atque rem. Corporis dolores
                        autem nulla, mollitia rem animi molestiae doloremque eos laboriosam obcaecati dolore voluptate
                        tempore fuga hic velit
                    </p>
                    <a href="~/Default/About">Read More</a>
                </div>
            </div>
        </div>

        <!-- cards -->
        <div class="cards">
            <h1 class="text-center mb-3">Information</h1>
            <div class="row abcd">
                <div class="col-sm-4">
                    <div class="card" style="width: 100%;">
                        <img src="https://wallpapercave.com/wp/wp1874159.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Restaurant</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the
                                bulk of the card's content.
                            </p>
                            <a href="~/Default/Restaurant" class="btn btn-outline-dark">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 100%;">
                        <img src="https://imgcy.trivago.com/c_limit,d_dummy.jpeg,f_auto,h_1300,q_auto,w_2000/itemimages/94/84/94842_v5.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Resort</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the
                                bulk of the card's content.
                            </p>
                            <a href="~/Default/Resort" class="btn btn-outline-dark">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 100%;">
                        <img src="https://atlas-network.com/wp-content/uploads/2020/01/130120_AAPA-november-2019.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Transportation</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the
                                bulk of the card's content.
                            </p>
                            <a href="~/Default/Transport" class="btn btn-outline-dark">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width: 100%;">
                        <img src="https://pixelz.cc/wp-content/uploads/2018/12/costa-adeje-gran-hotel-pool-spain-uhd-4k-wallpaper.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Hotel</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the
                                bulk of the card's content.
                            </p>
                            <a href="~/Default/Hotel" class="btn btn-outline-dark">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-md">
        <div class="parallex">
            <button>Go for a trip</button>
        </div>
    </div>
</section>

